html {
  font-size: 10px;
}

body {
  margin: 0;
}

.header {
  background: url(../img/h-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  &-overlay {
    background-color: rgba(93, 93, 95, 0.45);
    height: 100vh;
  }
  &-text {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 20rem;
    font-family: 'Comfortaa', cursive;
    h2 {
      font-size: 2.4rem;
      margin-bottom: 0;
    }
    h1 {
      margin: 0;
      font-size: 3rem;
      display: inline-block;
      border-bottom: 1px solid #fff;
      width: 40rem;
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .icon-down {
    font-size: 3rem;
    color: #fff;
    display: block;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.2s;
    &:hover {
       color: #349eea;
    }
  }
}

.nav-overlay {
  background-color: rgba(65, 85, 90, 0.45);
}

.navigation-panel {
  ul {
    /*margin: 0;*/
    list-style: none;
    display: flex;
    .header-number {
      color: #fff;
      font-family: 'Comfortaa', cursive;
      font-size: 1.4rem;
      margin-left: 6rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    li {
      margin-right: 3rem;
      /*margin-top: 2rem;*/
      a {
        color: #fff;
        font-family: 'Comfortaa', cursive;
        font-size: 1.6rem;
        transition: all 0.2s;
        &:hover {
          text-decoration: none;
          color: #349eea;
        }
      }
    }
  }
}

/*All Section Style*/
.section-prod {
  padding-bottom: 6rem;
}

.section-color {
  background: url(../img/section-bg.jpg) center center no-repeat;
  background-size: cover;
}

.section-header {
  margin-top: 8rem;
  width: 100%;
  h2 {
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    border-bottom: 1px solid;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 73rem;
  }
}

.white {
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

.section-content {
  width: 100%;
  text-align: center;
  input[type="radio"] {
    display: none;
    &:checked + label {
      color: #349eea;
    }
  }
  .label-style {
    font-size: 1.8rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    margin: 2rem;
    cursor: pointer;
  }
}

.content {
  text-align: left;
  margin-top: 2rem;
  background-color: rgba(45, 89, 97, 0.8);
  border-radius: 10px;
  padding: 1rem 2rem;
  p {
    font-size: 1.6rem;
    font-family: 'Comfortaa', cursive;
    color: #fff;
  }
  ul {
    li {
      color: #fff;
      font-size: 1.6rem;
      font-family: 'Comfortaa', cursive;
    }
  }
}
/*ACORDEON*/
.acord-win-hide {
  display: none;
}

.acord-win {
  transition: all 0.5s;
}

.tab-style {
  color: #349eea;
  font-size: 1.8rem;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}


/*MANICURE NAVIGATIONS*/
.manicure-hot, .manicure-japan, .manicure-brazil, .manicure-ibx {
  display: none;
}

/*Hot Checked*/
.hot:checked ~ .manicure-hot {
  display: block;
}

.hot:checked ~ .manicure-classic, .manicure-japan, .manicure-brazil, .manicure-ibx {
  display: none;
}

/*Japan Checked*/
.japan:checked ~ .manicure-japan {
  display: block;
}

.japan:checked ~ .manicure-classic, .manicure-hot, .manicure-brazil, .manicure-ibx {
  display: none;
}

/*Brazil Checked*/
.brazil:checked ~ .manicure-brazil {
  display: block;
}

.brazil:checked ~ .manicure-classic, .manicure-hot, .manicure-japan, .manicure-ibx {
  display: none;
}

/*IBX Checked*/
.ibx:checked ~ .manicure-ibx {
  display: block;
}

.ibx:checked ~ .manicure-classic, .manicure-hot, .manicure-japan, .manicure-brazil {
  display: none;
}

/*PEDICURE NAVIGATION*/
.app:checked ~ .pedicure-brazil, .pedicure-combo {
  display: none;
}

/*Brazil-p Checked*/
.brazil-ped:checked ~ .pedicure-brazil {
  display: block;
}
.brazil-ped:checked ~ .pedicure-app, .pedicure-combo {
  display: none;
}

/*Combo Pedicure*/
.combo:checked ~ .pedicure-combo {
  display: block;
}
.combo:checked ~ .pedicure-app, .pedicure-brazil {
  display: none;
}

/*FACE NAVIGATION*/




/*CONTACT*/
.contact-text {
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

/*FOOTER*/
.footer {
  background-color: #242424;
  font-family: 'Comfortaa', cursive; 
  color: #fff;
  &-map {
    text-align: center;
  }
  &-nav {
    ul {
      list-style: none;
      li {
        a {
          color: #fff;
          &:hover {
            color: #349eea;
          }
        }
      }
    }
  }
}